page-home 
{ ion-content { button { margin-bottom: 20px !important; } form { button { margin-bottom: 20px !important; width: 90% !important; margin-right: auto !important; margin-left: auto !important; } } } }
